<template name="components_browseChannels">
    <div class="panel-dapp"> 
        <div style>
            <h1  style="margin-bottom: 25px;font-size:48px;font-weight:300">
                Browse Channels
            </h1>
        </div>
        <table style="float:left;width:80%" class="table dapp-zebra">
            <thead>
                <tr>
                    <td>Channel Address</td>
                    <td><a href="browse/subscribers"> <span style = "color:white">Subscribers</span></a></td>
                    <td><a href="browse/donations"><span style = "color:white">Donations</span></a></td>
                </tr>

            </thead>
            <tbody>
                
                {{#each TemplateVar.get "allChannels"}}
                <tr>
                    <td><a href="channel/{{channel}}"><span style="font-weight: bold">{{channel}}</span></a></td>
                    <td style="font-weight: bold; color: rgba(130, 122, 122, 0.7)">{{subscribers}}</td>
                    <td style="font-weight: bold; color: rgba(130, 122, 122, 0.7)">{{donations}} </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div> 
</template>