<template name="components_browseChannels">
    <div class="panel-dapp"> 
        <div style>
            <h1>
                Browse Channels
            </h1>
        </div>
        <table style="float:left; width:80%" class="dapp-table">
            <thead>
                <tr>
                    <td>Channel Address</td>
                    <td>Subscribers</td>
                    <td>Total Donations</td>

                </tr>
            </thead>
            <!---<tbody>
                    {{#each items}}
                    
                <tr>
                    <td>
                        {{title}} <i class="icon-info" title={{description}}></i>
                    </td>
                    <td> 
                        {{media}}
                    </td>
                    <td>
                        {{insertedOn}} 
                    </td>
                    <td>
                        <a target="_blank" href ="{{link}}"><i class="icon-link"></i></a>
                    </td>
                        {{#if isMine}}
                            <td >
                                <button id="removeBtn" style="color:red">REMOVE</button>
                            </td>
                        {{/if}}

                </tr>
                {{/each}} 
            </tbody> -->

        </table>
    </div> 
</template>