<template name="components_channelInfo">
    <div class="panel-dapp"> 
        {{#if TemplateVar.get "isLoaded"}}
        {{#if TemplateVar.get "exist"}}
        <div style="float: left; width: 50%">
                
            <h1 >
                {{TemplateVar.get "title"}}
            </h1>

            {{#if showDescription}}
                <div style="text-align: left">
                    {{TemplateVar.get "description"}}
                </div>
            {{/if}}

        </div>

        <div style="float: right; width: 50%">
            <h3 style="text-align: right">
                {{TemplateVar.get "channelAdd"}}
                <br/>
                <br/>
                Subscribers: {{TemplateVar.get "totalSubs"}}
                <br/>
                Total Donations: {{TemplateVar.get "totalDonations"}}
            </h3>
        </div>

        {{else}}
            {{#if isMine}}
                {{> components_newChannel}} 
                
            {{else}}
                <h1>
                    Channel Doesn't Exist...
                </h1>
            {{/if}}
        {{/if}}
    {{else}}
                <h1>
                    Loading...
                </h1>
    {{/if}}
    </div>
</template>
