<template name="components_settingsContent">
    <div class="panel-dapp"> 
        <table>
            <tr>
                <h1  style="margin-bottom: 25px;font-size:48px;font-weight:300">
                     Settings
                </h1>
            </tr>
            <tr>
                <h2 style="margin-bottom: 20px">
                    Node Settings
                </h2>
            </tr>
            <tr>
                <td >
                    <h3>
                        Blockchain:
                    </h3>
                    <select class="dapp-selector" style="width:30%" id="blockchain">
                        <option value = "0">Eth</option>
                        <option value = "1">Ropsten</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td >
                    <h3>
                        RPC URL:
                    </h3>
                    <input style = "width:50%" type="text" id="rpcUrl" value={{currentNode}} placeholder="http://localhost:8545" autofocus="true">
                </td>
                
            </tr>
            <tr style="float: left; width: 100%">
                <h2 style="margin-bottom: 20px">
                    IPFS Settings
                </h2>
            </tr>
            <tr>
                <td>
                    <h3>
                        IPFS URL:
                    </h3>
                    <input style = "width:50%" type="text" id="ipfsUrl" value={{currentIpfs}} placeholder="http://127.0.0.1:8080" autofocus="true">
                </td>
            </tr>

            <tr style="float: left; width: 100%">
                <h2 style="margin-bottom: 20px">
                    Swarm Settings
                </h2>
            </tr>
            <tr>
                <td>
                    <h3>
                        Swarm URL:
                    </h3>
                    <input style = "width:50%" type="text" id="swarmUrl" value="{{currentSwarm}}" placeholder="" autofocus="true">
                </td>
            </tr>


        </table>
        <div style="float:left; width:80%">
            <br/>
            <br/>
            <button style = "float:left" class ="dapp-block-button" id = "save_btn">SAVE</button>
        </div>
    </div> 

</template>