<template name="modals_deploy">
    <h1>
        Deploying Your Channel...
    </h1>
    {{#if TemplateVar.getFrom ".new-Channel" "complete"}}
        <h3>
            Contract deployed successfully! <br/>
            Please allow a minute for changes to propogate throughout the blockchain.
        </h3>
        <div style="float:right">
            <button id="btn-cancel" class="dapp-main-button">
                <span>Close</span>
            </button>
        </div>
    {{else}}
        <h3>  
            {{TemplateVar.getFrom ".new-Channel" "status"}}  
        </h3> 
    {{/if}}
</template>