<template name="modals_donate">
        
    <h1>Donate to channel</h1> 
    <h4>To: {{channel}}</h4>
    <h4 style ="float:left">Huey:</h4>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <input style="float:left; width:40%" class="dapp-input" type="text" id="amount" placeholder="0.00" autofocus="true" >
    <br/>
    <br/>
    <br/>
    <button id="btn-donate" style="float:right" class="dapp-main-button"><span style="font-weight:bold">Donate</span><i class="icon-"></i>
    
    </button>
</template>