<template name="modals_subscribeTo">
    
    <h1>{{TemplateVar.get "headerText"}}</h1>
    <div style="float:right">
        <button id="btn-cancel" class="dapp-main-button">
        {{#if TemplateVar.get "notComplete"}}
            <span >CANCEL</span>
        {{else}}
            <span >CLOSE</span>
        {{/if}}
        </button>
        &nbsp;&nbsp;
        {{#if TemplateVar.get "notComplete"}}
            <button id="btn-subscribe" class="dapp-main-button">
                <span style="font-weight:bolder">SUBSCRIBE</span>
            </button>     
        {{/if}}
    </div>
</template>