<template name="layout_header">
	<nav>
		<ul>
			<li >
				<a href="{{ pathFor 'home' }}"  class="{{isActiveRoute regex='home'}}">
						<i class="icon-home"></i> <br/>HOME
				</a>
			</li>

			<li >
				<a href={{myChannelPath}}  class="">
						<i class="icon-cloud-upload"></i> <br/>MY CHANNEL
				</a>
			</li> 
	
			<li class="block-info dapp-flex-item" >
				{{TemplateVar.get "status"}}
				&nbsp;&nbsp;|&nbsp;
				<i class="icon-feed"></i> {{peerCount}} <span class="hide-on-small">Peers</span>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<i class="icon-layers"></i> {{formattedBlockNumber}} 
			</li>  

			<li>
				<a href="browse/subscribers" class="{{isActiveRoute regex='browse'}}">
					<i class="icon-magnifier"></i> <br/>Browse
				</a>
			</li>   

			<li>
				<a href="{{ pathFor 'settings' }}" class="{{isActiveRoute regex='settings'}}">
					<i class="icon-settings"></i> <br/>Settings
				</a>
			</li>

		</ul>
	</nav>
</template>
